.box-time{
     width: 10vw;height: 20vh;
     border-radius: 50%;  
     border: 3px solid white;
     background-color: var(--second-color);
     
     margin-top: 10px;margin-right: 10px;  
}
.box-time .p-time{ 
    /* border: 1px solid red; */
    height:35%; 
    color: var(--time-text) ;  
    font-family: var(--time-style);
    font-size: xx-large;
}
.alert-time{color: red !important; border-color: red;}