/* size by screen*/ 

/* Small devices (landscape phones, 576px and up) */  
@media (max-width: 576px) {      
   .box-quiz{width: 95vw;height: 80vh;max-width: 460px;}
   .box-quiz-1{width: 90%;height: 85%;margin-top: 13vh;border: 0px;background-color:transparent;}
   .box-quiz-1 h1{font-size: 1.6rem;}
   .box-head h1 span{font-size: 0.5em;}
   .box-body{width: 97%;height: 75%; } 
   .box-body h2{font-size: 0.9rem; margin-top: 0px;}
   .box-body ul{width: 100%;height:80%;}
   .box-body ul li{width: 90%;height:5vh;margin:5px;max-height: 38px;}
   .box-body ul li:first-child{margin-top: 0;}
   .box-body ul li i{width: 55px;height: 5vh;max-height: 38px;}
   .box-body ul li label{font-size: 0.9rem;}
}  

/* transition */   
@media only screen and (min-width: 576px) {  
    .box-quiz{width: 95vw;height: 82vh;max-width: 700px;}
    .box-quiz-1{width: 75%;height: 90%;margin-top: 13vh;}
    .box-head h1{ font-size: 1.6rem;}
    .box-head h1 span{font-size: 0.6em;}
    .box-body{width: 98%;height: 65%; }  
    .box-body h2{font-size: 1rem;margin-top: 5px;}
    .box-body ul{width: 100%;height:80%;}
    .box-body ul li{width: 90%;height:6vh;margin:5px;}  
    .box-body ul li i{width: 55px;height: 6vh;}
    .box-body ul li label{font-size: 0.8rem;}
}  

/* Medium devices (landscape tablets, 768px and up) */  
@media only screen and (min-width: 768px) {   
    .box-quiz{width: 95vw;height: 82vh;}
    .box-quiz-1{width: 85%;height: 80%;margin-top: 5vh;}
    .box-head{padding-bottom: 5px;}
    .box-head h1{ font-size: 1.6rem;}
    .box-head h1 span{font-size: 0.5em;}
    .box-body{width: 98%;height: 80%; }
    .box-body h2{font-size: 0.9rem;}
    .box-body ul li{width: 80%;height:6vh;margin-top:4px;}
    .box-body ul li i{width: 55px;height:6vh;}
    .box-body ul li label{font-size: 0.7rem;}
}  
/* Large devices (laptops/desktops, 992px and up) */  
@media only screen and (min-width: 992px) {  
    .box-quiz{width: 95vw;height: 82vh;max-width: 750px;}
    .box-quiz-1{width: 95%;height: 83%;margin-top: 5vh;}
    .box-head h1{ font-size: 1.3rem;}
    .box-head h1 span{font-size: 0.4em;}
    .box-body h2{font-size: 0.8rem;margin-top: 0px;}
    .box-body ul{width: 100%;height:75%;}
    .box-body ul li{width: 75%;height:6vh;margin:5px;}
    .box-body ul li i{width: 55px;height: 6vh;}
    .box-body ul li label{font-size: 0.6rem;}
} 

 
 

/* Extra large devices (large laptops and desktops, 1200px and up) */ 

@media only screen and (min-width: 1200px) {   

} 


/*========================================================================================*/
.box-quiz{  
    padding: 1%;
}
.box-quiz  > span {margin: 0;}
.box-quiz-1[top-space='true']{margin: 0%;}
.box-quiz-1{   
   padding: 1%; 
}
.box-head{ 
   width: 100%; 
   height: 12%;margin-bottom: 5px;
}
.box-head h1{
    text-align: center;color: var(--text-color-2);
    margin: 0%; 
}
.box-head h1 span{color:var(--text-color-3);}

/*===========================================================================*/
.box-body{ 
    border-top: 3px solid var(--tr);
    padding:2%;margin: auto; 
}
.box-body h2{
    margin-bottom: 5px;
    text-align: left; 
    color: var(--text-color-1);
    font-family: var(--style-text); 
}

.box-body ul{ 
    margin-top: 3.5%;  
    display: flex; 
    flex-direction: column;justify-content: space-around;
}
.box-body ul li{
    display: flex; 
    cursor: pointer;
    color: var(--text-color-1);
    border-top-right-radius: 35px;border-bottom-right-radius: 35px;
}
.box-body ul li:hover label{color: var(--text-color-1);transition: 0.6s ease;}
.box-body ul li input{display:none;}
/* unchecked input style */
.box-body ul li:has(input:not(:checked)){color: var(--text-color-1); background: none;}
.box-body ul li:has(input:not(:checked)) i{background:none;}
.box-body ul li label:has(input:not(:checked)){color: var(--text-color-2);}
.box-body ul li label:has(input[data-truth='true']){background-color: #2ECC71;}
.box-body ul li:has(input[data-truth='true']) i{background-color: red;}
/* checked input style */
.box-body ul li:has(input:checked){
   background-color: var(--text-color-1);
}
.box-body ul li:has(input:checked) i{background-color: var(--tertiary-color);border-top: 0px;border-bottom: 0px;}
.box-body ul li label:has(input:checked){color: var(--text-active);}
.box-body ul li label{ 
    width: 100%;height:100%; 
    padding-left: 5px;
    display: flex;
    align-items: center; 
    font-family: var(--style-text);
    cursor: pointer;
}
.box-body ul li i{ 
    display: flex;justify-content: center;
    align-items: center;
    font-size: large;font-family:Century Gothic ,Verdana,sans-serif ;
    border:2px solid var(--tertiary-color);
}
/*======================================================*/
.box-footer{
    width: 100%;
    height: 10%; 
    justify-content: end;
}

