.box-1{
    width: 90vw;height: 85%;
    
}
.box-1-1{
    width: 75%;height: 100%;
    border: 2px solid white;
    background-color: var(--second-color);
}

.box-head{
   width: 100%;
   height: 15%;
}
.box-head h1{
    text-align: center;color: var(--text-color-2);
}
.box-head h1 span{color:var(--text-color-3);font-size: 0.75em;}


.box-body{
    width: 80%;height: 75%; border-top: 3px solid var(--tr);
    margin: auto;
    
}
.box-body h2{
    margin-top: 5px;
    text-align: left;
    color: var(--text-color-1);
    font-family: var(--style-text);
    font-size: 23px;
}

.box-footer{
    width: 100%;
    height: 10%;
    justify-content: end;
}