 /* size by screen*/ 

/* Small devices (landscape phones, 576px and up) */  

@media (max-width: 576px) {      
  .App{display: inline-block;}
}  

/* transition */ 

@media only screen and (min-width: 576px) {  .App{display: inline-block;}
  /* .App{display:  flex;flex-direction:row-reverse ;}  */
}  

/* Medium devices (landscape tablets, 768px and up) */ 

@media only screen and (min-width: 768px) {  
  .App{display:  flex;flex-direction:row-reverse ;} 
}  
/* Large devices (laptops/desktops, 992px and up) */  
@media only screen and (min-width: 992px) {   
  .App{display:  flex;flex-direction:row-reverse ;} 
} 

 
 

/* Extra large devices (large laptops and desktops, 1200px and up) */ 

@media only screen and (min-width: 1200px) {   

} 

.App {
  width: 100vw;
  height: 87vh; 
  /* display: inline-block; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color:  #1a1b27;
  box-shadow: 0px 0px 8px 0px rgb(34, 34, 42); 
  height: 60px; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
