:root{ 
    --primary-color:#272b37;
    /* --primary-color:#272833; */
    --second-color:#262630;
    --tertiary-color:#e44c65 ;
    --time-text:white;
    --time-style: sans-serif;
    --tr:rgba(183, 184, 185, 0.873);
   --layer-2-bg:#34495ed8 ;
    /* text-color*/
    --text-color-1:white;
    --text-color-2:rgba(255, 255, 255, 0.644);
    --text-color-3:rgba(213, 213, 213, 0.644);
    --text-active:rgb(62, 64, 68);
    --style-text:sans-serif; 
    --progress-value:0;  
}
/*==============================================================================================================*/
/* size by screen*/
/* Small devices (landscape phones, 576px and up) */ 
@media (max-width: 576px) {   
       html{font-size: 21px;}
       /*button*/
     .btn{width: 22vw;height: 5vh;font-size: 0.6rem;}  
     /* skeleton*/
       .skeleton{border-end-end-radius: 0.8rem;border-top-right-radius: 0.8rem;}
     .skeleton-time{ width: 60%;height: 9px;}
     .skeleton-text{width: 65vw;height:3vh; }
       li:has(.skeleton){margin-top: 5px !important;border: 0px solid red !important;}  
     /* .skeleton-i{width: 25px !important;height: 20px !important;} */
     .skeleton-text-big{width: 50vw;height:3vh;}
     .skeleton-text-med{ width: 30vw;height:4vh;border-radius: 0.5rem;}
     li:last-child .skeleton-text{width: 45vw;}  

 } 
  /* transition */
 @media only screen and (min-width: 576px) { 
    
    html{font-size: 22px;}
        /*button*/
    .btn{width: 16vw;height: 6vh;font-size: 0.7rem;} 

    /* skeleton*/
    .skeleton{ border-end-end-radius: 0.5rem;border-top-right-radius: 0.5rem;}
    .skeleton-time{ width: 70%;height: 9px;}
    .skeleton-text{width: 100%;height:4vh;}
    .skeleton-i{width: 40px !important;height: 25px !important;}
    li:has(.skeleton){width: 60% !important;}
    .skeleton-text-big{width: 50vw;height:4vh;}
    .skeleton-text-med{ width: 30vw;height:5vh;border-radius: 0.5rem;}
    li:has(.skeleton):last-child{width: 50% !important;} 
    
 } 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) { 
        html{font-size: 22px;}
        /*button*/
     .btn{width: 12vw;height: 6vh;font-size: 0.7rem;} 
     /**/
     li:has(.skeleton){width: 70% !important;margin-top: 0px;}
     .skeleton-text-big{width: 45vw;height:4vh;}
     .skeleton-time{ width: 70%;height: 15px;}
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
        html{font-size: 28px;}
        /*button*/
        .btn{width: 11vw;height: 6vh;font-size: 0.5rem;}
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) { 
      html{font-size: 34px;}
}


/* classes*/
.center{
    display: flex;  
    align-items: center;
    justify-content: center; 
}
.center-h{
    display: flex;   
    justify-content: center; 
}
.center-v{display: flex;align-items: center;align-content: center;}
/* .direction-r-t{
    left: 0;right: 0;margin: auto;margin-top: 10px; margin-right: 10px;
} */
.center-block{
    left: 0;right: 0;bottom: 0;top: 0;margin: auto;
}
/* layer-2 */
.layer-2{position: absolute;z-index: 20;width: 100vw;height: 90vh;background-color: var(--layer-2-bg)}
/* default Tags*/
button{
    border: 0px;outline: none;margin: 5px;cursor: pointer;
    background-color: var(--tr);
}
ul{ margin: 0;   padding: 0; }
li{list-style-type: none;}
a{text-decoration: none;}
a[role='button']{
    font-size: medium;margin: 0%;height: 5%;
    color: var(--text-color-3);
     align-self: flex-start;
    text-decoration: none;
}
a[role='button']:hover{
    color: var(--text-color-1);transition: 0.45s ease-in;
    cursor: pointer;
}
/* classes button */
.btn{ 
    border-radius: 16px;
    float: right;
    color: var(--text-color-1);
}
.btn-submit{background-color: rgb(133, 207, 69);}
.btn-next{background-color: #e44c65;}
.btn-reverse{float: left;background-color: var(--text-color-3);}

.btn-a{
    width: 110px;height: 35px;
    border-radius: 16px; font-size: x-large;
    color: var(--text-color-1);
}

.btn-a-2{
    width: 110px;height: 35px;
    border-radius: 16px; font-size: medium;
    color: var(--text-color-1);cursor: pointer;
}

/* skeleton */
.skeleton{
    animation:  skeleton-loading 1s linear infinite alternate;
   
    /* border-end-end-radius: 0.28rem;
    border-top-right-radius: 0.28rem; */
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 15%, 23%);
    }
    100%{
        background-color: hsl(200, 2%, 72%);
    }
}
.skeleton-text{margin: auto 1vh;}
.skeleton-text-big{
    /* width: 35vw;height:4vh; */
     margin: auto 1vh;  
}  
.skeleton-button{
    width: 110px;height: 32px;border-radius: 16px;
    float: right;
}
.skeleton-time{
    /* width: 60%;height: 18px; */
    border-radius: 12px;
}