:root{
    --primary-color:#272833;
    --second-color:#262630;
    --tertiary-color:#e44c65 ;
    --time-text:white;
    --time-style: sans-serif;
    --tr:rgba(183, 184, 185, 0.873);

    /* text-color*/
    --text-color-1:white;
    --text-color-2:rgba(255, 255, 255, 0.644);
    --text-color-3:rgba(213, 213, 213, 0.644);
    --text-active:rgb(62, 64, 68);
    --style-text:sans-serif;
}
.center{
    display: flex;  
    align-items: center;
    justify-content: center; 
}
.center-h{
    display: flex;   
    justify-content: center; 
}
/* .direction-r-t{
    left: 0;right: 0;margin: auto;margin-top: 10px; margin-right: 10px;
} */
.center-block{
    left: 0;right: 0;bottom: 0;top: 0;margin: auto;
}

/* default Tags*/
html{font-size: 28px;}
button{
    border: 0px;outline: none;margin: 5px;cursor: pointer;
    background-color: var(--tr);
}
li{list-style-type: none;}
a{text-decoration: none;}
a[role='button']{
    font-size: medium;margin: 0%;height: 5%;
    color: var(--text-color-3);
     align-self: flex-start;
    text-decoration: none;
}
a[role='button']:hover{
    color: var(--text-color-1);transition: 0.45s ease-in;
    cursor: pointer;
}
/* classes */
.btn{
    width: 110px;height: 32px;border-radius: 16px;
    float: right;
    color: var(--text-color-1);
}
.btn-active{background-color: rgb(133, 207, 69);}
.btn-reverse{float: left;background-color: var(--text-color-3);}

.btn-a{
    width: 110px;height: 35px;
    border-radius: 16px; font-size: x-large;
    color: var(--text-color-1);
}